extends layout

block content
  h4 URL短縮サービスなのです。
  h1(style='background-color: palegreen') たんしゅくん
  br
  h4 短縮したいURLを入力して変換ボタンを押してください。。。
  form(method='POST', action='/')
    input.form-control(type='text', name='url', placeholder='input URL', style='width:70%; float:left; margin-right: 15px;')
    input.btn.btn-success(type='submit', value='変換する')
  br
  br
  pre(style='width:70%;')= new_url
